###############################################################################

# Explicitly declare documentation for the following files

###############################################################################
examples/**                                  linguist-documentation=false
