# ULX3S hardware constraints - Logical Preference File
# LOCATE COMP - locate drive logic to a particular section within the FPGA fabric.
# IOBUF  PORT  - configure line as a buffered input or output
# PULLMODE - set the line resistors. Modes are UP, DOWN, NONE
# IO_TYPE - sets line voltage IO_TYPE=LVCMOS33: set low voltage CMOS at 3.3V.
# DRIVE - defines the output current.  DRIVE=1: 4mA, DRIVE: 8mA, DRIVE=3: 12mA, DRIVE=4: 16mA

# 7Seg4 PMOD connected to J1 (left side GPIO)
# --------------------------------------------
LOCATE COMP "seg_a" SITE B4;
LOCATE COMP "seg_b" SITE B1;
LOCATE COMP "seg_c" SITE A5;
LOCATE COMP "seg_d" SITE B6;
LOCATE COMP "seg_e" SITE C4;
LOCATE COMP "seg_f" SITE A2;
LOCATE COMP "seg_g" SITE A4;
LOCATE COMP "seg_dp" SITE A6;

LOCATE COMP "ca1" SITE C10;
LOCATE COMP "ca2" SITE B10;
LOCATE COMP "ca3" SITE A11;
LOCATE COMP "ca4" SITE C11;
LOCATE COMP "ca5" SITE B11;

IOBUF PORT "seg_a" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_b" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_c" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_d" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_e" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_f" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_g" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "seg_dp" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ca1" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ca2" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ca3" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ca4" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ca5" PULLMODE=UP IO_TYPE=LVCMOS33;

#LOCATE COMP "pmod_16led[15]" SITE B11; # D16
#LOCATE COMP "pmod_16led[14]" SITE C11; # D15
#LOCATE COMP "pmod_16led[13]" SITE A10; # D14
#LOCATE COMP "pmod_16led[12]" SITE A11; # D13
#LOCATE COMP "pmod_16led[11]" SITE A9;  # D12
#LOCATE COMP "pmod_16led[10]" SITE B10; # D11
#LOCATE COMP "pmod_16led[9]" SITE B9;  # D10
#LOCATE COMP "pmod_16led[8]" SITE C10; # D9
#LOCATE COMP "pmod_16led[7]" SITE A6;  # D8
#LOCATE COMP "pmod_16led[6]" SITE B6;  # D7
#LOCATE COMP "pmod_16led[5]" SITE A4;  # D6
#LOCATE COMP "pmod_16led[4]" SITE A5;  # D5
#LOCATE COMP "pmod_16led[3]" SITE A2;  # D4
#LOCATE COMP "pmod_16led[2]" SITE B1;  # D3
#LOCATE COMP "pmod_16led[1]" SITE C4;  # D2
#LOCATE COMP "pmod_16led[0]" SITE B4;  # D1

# 16LED PMOD connected to J2 (right side GPIO)
# --------------------------------------------
LOCATE COMP "pmod_16led[15]" SITE U18; # D16
LOCATE COMP "pmod_16led[14]" SITE U17; # D15
LOCATE COMP "pmod_16led[13]" SITE N17; # D14
LOCATE COMP "pmod_16led[12]" SITE P16; # D13
LOCATE COMP "pmod_16led[11]" SITE N16; # D12
LOCATE COMP "pmod_16led[10]" SITE M17; # D11
LOCATE COMP "pmod_16led[9]" SITE L16; # D10
LOCATE COMP "pmod_16led[8]" SITE L17; # D9
LOCATE COMP "pmod_16led[7]" SITE C18; # D8
LOCATE COMP "pmod_16led[6]" SITE D17; # D7
LOCATE COMP "pmod_16led[5]" SITE B15; # D6
LOCATE COMP "pmod_16led[4]" SITE C15; # D5
LOCATE COMP "pmod_16led[3]" SITE B17; # D4
LOCATE COMP "pmod_16led[2]" SITE C17; # D3
LOCATE COMP "pmod_16led[1]" SITE C16; # D2
LOCATE COMP "pmod_16led[0]" SITE D16; # D1


IOBUF PORT "pmod_16led[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[3]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[4]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[5]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[6]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[7]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[8]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[9]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[10]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[11]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[12]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[13]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[14]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "pmod_16led[15]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE G2;
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "btn_f1"    SITE R1;  # Button B1 Fire-1
LOCATE COMP "btn_f2"    SITE T1;  # Button B2 Fire-2
LOCATE COMP "btn_up"    SITE R18; # Button B3 Up
LOCATE COMP "btn_down"  SITE V1;  # Button B4 Down
LOCATE COMP "btn_left"  SITE U1;  # Button B5 Left
LOCATE COMP "btn_right" SITE H16; # Button B5 Right

IOBUF PORT "btn_f1"    PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_f2"    PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_up"    PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_down"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_left"  PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "btn_right" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE B2;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE C2;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE C1;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE D2;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE D1;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE E2;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE E1;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE H3;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpio0" SITE L2;
IOBUF PORT "gpio0" IO_TYPE=LVCMOS33;
